.wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#containerCanvas {
  /*position: absolute;
  left: 0;
  top: 0;*/
  border-width: 1px;
  border-color: black;
  border-style: solid;
  width: 400px;
  height: 200px;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 200px;
}
