<div class="card mb-3">
   <div class="card-header"><h4>Programa de Diagnóstico NTRK de Bayer</h4></div>
   <div class="row imgProgramBayer mx-0">
      <div class="col-6 text-center">
         <img src="/static/media/Logo-Bayer2.png" class="img-fluid" alt="Logo Programa Bayer">
      </div>
      <div class="col-6 text-center">
         <img src="/static/media/Logo-Bayer.svg" class="img-fluidn mt-2" alt="Logo Bayer" style="width: 117px;">
      </div>
   </div>
   <div class="card-body mx-0">
      <div class="col-12 text-justify">
         <p class="mb-1">
            Usted puede solicitar la búsqueda del gen de fusión NTRK desde el diagnóstico en tumores que no cuenten con una opción de tratamiento aprobada o en cualquier momento para aquellos casos con enfermedad localmente avanzada o metastásica que hayan recaído a la terapia estándar de tratamiento.
         </p>
      </div>
      <div class="col-12 mt-3">
         <a class="btn btn-primary btn-block mt-3" href="/Estudio">Solicitar Estudio <i class="fas fa-arrow-circle-right" aria-hidden="true"></i></a>
      </div>
   </div>
</div>

<div class="card mb-3">
   <div class="card-header"><h4>Programa de Diagnóstico NTRK de Bayer</h4></div>
   <div class="row imgProgramBayer mx-0">
      <div class="col-6 text-center">
         <img src="/static/media/Logo-Bayer2.22cda96d.png" class="img-fluid" alt="Logo Programa Bayer">
      </div>
      <div class="col-6 text-center">
         <img src="/static/media/Logo-Bayer.53cfcde7.svg" class="img-fluidn mt-2" alt="Logo Bayer" style="
         width: 117px;
         ">
      </div>
   </div>
</div>
