<div id="Datos" className="container-fluid">
  <div className="row">
   <div className="col-12 py-2">
      <img src={require('../../img/DAT-logo.svg')} alt="LogoDat" />
   </div>
  </div>
  <div className="row">
   <div className="col-12">
      <h2 className="headPrint p-2">Datos del paciente</h2>
      <hr />
   </div>
   <div className="col-3 text-left my-2">
      <p><b>Nombre: {nombrePaciente}</b></p>
   </div>
   {/* <div className="col-3 text-left my-2">
   <p><b>Segundo Nombre:</b></p>
</div> */}
   <div className="col-3 text-left my-2">
      <p><b>Apellido: {apellidoPaciente}</b></p>
   </div>
   {/* <div className="col-3 text-left my-2">
   <p><b>Segundo Apellido:</b></p>
</div> */}
   <div className="col-6 text-left my-2">
      <p><b>Fecha de nacimiento: {formatoFechaHumano(fechaNac)}</b></p>
   </div>
   <div className="col-6 text-left my-2">
      <p><b>Género: {genero}</b></p>
   </div>
   <div className="col-12">
      <hr />
   </div>
  </div>

  <div className="row">
   <div className="col-12">
      <h2 className="headPrint p-2">Información del estudio</h2>
      <hr />
   </div>
   <div className="col-6 text-left my-2">
      <p><b>Categoría: {categoriaElegida}</b></p>
   </div>
   <div className="col-6 text-left my-2">
      <p><b>Estudio: {estudioElegido[0]}</b></p>
   </div>
   <div className="col-6 text-left my-2">
      <p><b>Metodología: {metodologiaEstudio}</b></p>
   </div>
   <div className="col-6 text-left my-2">
      <p><b>Clave del estudio: {claveEstudio}</b></p>
   </div>
   <div className="col-12">
      <hr />
   </div>
  </div>

  <div className="row">
   <div className="col-12">
      <h2 className="headPrint p-2">Datos del médico</h2>
      <hr />
   </div>
   <div className="col-3 text-left my-2">
      <p><b>Nombre: {nomDoc}</b></p>
   </div>
   {/* <div className="col-3 text-left my-2">
   <p><b>Segundo Nombre: </b></p>
</div> */}
   {/* <div className="col-3 text-left my-2">
   <p><b>Segundo Apellido: </b></p>
</div> */}
   <div className="col-4 text-left my-2">
      <p><b>Cédula Profesional: {cedula}</b></p>
   </div>
   <div className="col-4 text-left my-2">
      <p><b>Teléfono: {telefono}</b></p>
   </div>
   <div className="col-4 text-left my-2">
      <p><b>Email: {email}</b></p>
   </div>
   {/* <div className="col-4 text-left my-2">
   <p><b>Especialidad:</b></p>
</div> */}
   <div className="col-4 text-left my-2">
      <p><b>Hospital:</b></p>
   </div>
   <div className="col-4 text-left my-2">
      <p><b>Ciudad:</b></p>
   </div>
   <div className="col-12">
      <hr />
   </div>
  </div>

  {
   costoEstudio > 0 ?
      <div className="row">
        <div className="col-12">
          <h2 className="headPrint p-2">Datos de pago</h2>
          <hr />
        </div>
        <div className="col-4 text-left my-2">
          <p><b>No. de referencia(Folio): {folio}</b></p>
        </div>
        <div className="col-4 text-left my-2">
          <p><b>Banco: Santander</b></p>
        </div>
        <div className="col-4 text-left my-2">
          <p><b>Cuenta de banco: Dx A Tiempo SAS de CV</b></p>
        </div>
        <div className="col-4 text-left my-2">
          <p><b>Número de cuenta: 6550 7601 302</b></p>
        </div>
        <div className="col-4 text-left my-2">
          <p><b>CLABE: 014180 655076 01302 3</b></p>
        </div>
        <div className="col-4 text-left my-2">
          <p><b>Monto: ${costoEstudio}</b></p>
        </div>
        <div className="col-12">
          <hr />
        </div>
      </div>
      : null
  }

  {displaySignatures()}

  <div className="row">
   <div className="col-12">
      <h3 className="headPrint p-2">Contacto</h3>
   </div>
   <div className="col-12 text-center my-2">
      <p>Si necesitas ayuda o información adicional a lo aquí presentado comunicate con nosotros enviando un email a: <b>contacto@diagnostiqueatiempo.com</b></p>
   </div>
   <div className="col-12">
      <hr />
   </div>
  </div>

</div>
