@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:200,400,700&display=swap');

:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: .75rem;
}

html{
	font-size: 14px;
	height: 100%;
}

body {
	font-family: 'Mukta Vaani', sans-serif;
	/*background-color: #00B4E6;*/
	background-color: rgba(54,153,196,1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}

header{
	border-bottom: solid 3px rgba(250, 189, 72, 1);
}

.centerFormInput {
  text-align: center !important;
}

p {
	margin-bottom: 0;
}
/*.container-fluid.container-rest {*/
.tarjetas {
	/*background-color: white;
	 background-image: url("images/Main-background.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	overflow: hidden;*/
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	/*height: 100%;*/
}
.card {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
}

.card .card-body {
	padding: 2rem;
}
.card-header h4{
	color: #006480;
}
.card-body h5{
	color: #006480;
}
.card-body h6{
	color: #006480;
}
.card-body a{
	color: white !important;
}
.card-body tbody a{
	color: rgba(54,153,196,1) !important;
}
#navegacion{
	/* -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5); */
	/* background-image: url("images/Navbar.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: contain; */
}
.nav{
  font-size: smaller !important;
}
.bg-nav{
	/*background-color: #DCDCDC;*/
	background-color: #ffffff;
}
.navbar-brand{
	color: #006480 !important;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
	/*color: #0099C2;*/
	color: #00C8FF;
}
.navbar-light .navbar-nav .nav-link:hover{
	/*color: #0099C2;*/
	color: #00C8FF;
}
.navbar-light .navbar-nav .nav-link{
	/*color: #003240;*/
	color: #ffffff;
}
h1, h2, h3, h4, h5{
	color: rgba(46,55,66,1);
	margin: 0px;
}
h6{
	color: #ffffff;
}
h6 a{
	color: #f7ec66 !important;
}
.headPrint{
	background-color: #2e3742;
}
.btnTypeAnchor, .btnTypeLink {
  vertical-align: baseline;
  padding: 0;
}
a, .btnTypeLink {
  color: #3699c4;
}
a, .btnTypeAnchor{
	color: #3699c4;
}
a:link, a:visited, a:active {
	color: #3699c4;
	text-decoration:none;
}
.card-body .nav-item a{
	color: #3699c4 !important;
}
.card-body .page-item .page-link{
	color: #3699c4 !important;
}
.botonMenu{
	color: #ffffff !important;
}
.btn-primary{
	background-color: #3699c4;
	border-color: #3699c4;
}
.btn-primary:hover{
	background-color: #2e3742;
	border-color: #2e3742;
}
.btn-primary:active{
	background-color: #2e3742 !important;
	border-color: #2e3742 !important;
}
.position-sticky .btn-primary{
	background-color: rgba(46,55,66,1);
	border-color: rgba(46,55,66,1);
	color: white;
}
.position-sticky .btn-primary:hover{
	background-color: rgba(46,55,66,.7);
	border-color: rgba(46,55,66,.7);
	color: white;
}
.position-sticky .btn-primary:active{
	background-color: rgba(46,55,66,.7) !important;
	border-color: rgba(46,55,66,.7) !important;
	color: white;
}
.btn-success{
	color: #ffffff !important;
}
.division{
	border-bottom: 2px rgba(247,236,102,1) solid;
}
.division2{
	border-bottom: 2px #f7ec66 solid;
	margin-bottom: 1rem;
}
.division3{
	border-bottom: 1px #dcdcdc solid;
	margin-bottom: 1rem;
	height: 1px;
	width: 100%;
}
.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #00C8FF;
	border-color: #0099C2;
}
.placeholder{
	font-style: italic !important;
}
.tachado{
	text-decoration:line-through; color: red;
}
.mejorPrecio{
	color: darkgreen;
}
.imgProgram{
	background-image: url('images/imgProgram.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top left;
}
.position-sticky{
	top: 0;
}
.txtBtnMenu{
	text-align: left;
}
footer{
	position: relative !important;
}

/*/////////////////////
//////Transiciones/////
/////////////////////*/
#formDoctor{
	transition: opacity .3s ease-in-out;
}

#formCliente{
	transition: opacity .3s ease-in-out;
}

/*/////////////////////
//////Formularios//////
/////////////////////*/

.form-signin {
	width: 100%;
}

.form-signin .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
}

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
}

.form-label-group input {
	height: auto;
	border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
	padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
}

.form-label-group>label input:focus{
	color: #777;
	font: 6px;
}

.form-label-group input::-webkit-input-placeholder {
	color: transparent;
}

.form-label-group input:-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-ms-input-placeholder {
	color: transparent;
}

.form-label-group input::-moz-placeholder {
	color: transparent;
}

.form-label-group input::placeholder {
	color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
	padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
	padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
	padding-top: calc(var(--input-padding-y) / 3);
	padding-bottom: calc(var(--input-padding-y) / 3);
	font-size: 12px;
	color: #777;
}

/*/////////////////////
//////Animaciones//////
/////////////////////*/

.cajaCerrada{
	display: none;
}

.cajaAbierta{
  display: contents;
}

@keyframes fadeDiv {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}

.oculto{
	width: 100%;
	display: flex;
	opacity: 0;
	transition: opacity .6s ease-in-out;
}

.fadeIn{
	width: 100%;
	display: flex;
	opacity: 1;
	transition: opacity .6s ease-in-out;
}

.fadeOut{
	width: 100%;
	display: flex;
	opacity: 0;
	transition: opacity .6s ease-in-out;
}

/*/////////////////////
//////Breadcrumbs//////
/////////////////////*/
.btn-crumb {
	width: 100%;
}
.breadcrumb-item1{
	background-color:rgba(0,200,250,.1);
	border-radius: 5px;
	padding: 10px 0;
}

.breadcrumb-item1 p{
	color: white;
}

.breadcrumb-item2{
	background-color:#00C8FF;
	border-radius: 5px;
	padding: 10px 0;
}

.breadcrumb-item2 p{
	color: white;
}

/*///////////////////////////////////////////////////////////////
///////////////////////// Canvas /////////////////////////
///////////////////////////////////////////////////////////////*/

canvas {
  position: relative;
  margin: 1px;
  margin-left: 0px;
  border: 0.3rem solid #3a87ad;
  /* height: 200px;
  width: 300px; */
}

/*///////////////////////////////////////////////////////////////
///////////////////////// Legales /////////////////////////
///////////////////////////////////////////////////////////////*/
.legales{
	font-size: 1rem;
	color: slategray;
}

.legales span a{
	color: slategray;
}

.legales span a:hover{
	color: #00B4E6;
}

/*///////////////////////////////////////////////////////////////
///////////////////////// Estatus estyles /////////////////////////
///////////////////////////////////////////////////////////////*/

.EstatusCompleto
{
	background-color: rgba(18, 179, 0, 0.8);
	color: white;
}

.EstatusTrabajando
{
	background-color: rgba(233, 141, 26, 0.8);
	color: white;
}

.EstatusEspera
{
	background-color: rgba(173, 20, 20, 0.8);
	color: white;
}

/*/////////////////////
//////Animaciones//////
/////////////////////*/

@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
.icon{
    -webkit-animation: 3s rotate linear infinite;
    animation: 3s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/*
//////////////////////////////////////////////////
////////////////// Animaciones //////////////////
//////////////////////////////////////////////////
*/
.apartadoSolcitud {
	display: none;
}
#buscarMedico {
	display: block;
}

/*/////////////////////
/////Media Querys//////
/////////////////////*/

@media (min-width: 992px){
	.navbar-expand-lg {
			justify-content: flex-end !important;
	}
}

@media (max-width: 420px){
	html {
		font-size: .7rem;
	}
	.botonMenu{
		font-size: 1.5rem;
	}
}

/*
//////////////////////////////////////////////////
////////////////// Animaciones //////////////////
//////////////////////////////////////////////////
*/

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
.scale-up-center {
	-webkit-animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
	.form-label-group>label {
		display: none;
	}
	.form-label-group input::-ms-input-placeholder {
		color: #777;
	}
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.form-label-group>label {
		display: none;
	}
	.form-label-group input:-ms-input-placeholder {
		color: #777;
	}
}
