<table id="Datos" className="Fsalida tg">
  <thead>
     <tr>
      <td colSpan="16" className="spacer"></td>
     </tr>
   <tr>
      <th className="textos-justificados percent-20" colSpan="3">
        <img src={require('../../img/DAT-logo.svg')} alt="LogoDat" />
      </th>
      <th className="textos-middle percent-60" colSpan="10">
        <h1>Formato de Salida</h1>
      </th>
      <th className="textos-middle percent-20" colSpan="3">Folio: {folio}</th>
   </tr>
  </thead>
  <tbody>
     <tr>
      <td colSpan="16" className="spacer"></td>
     </tr>
   <tr>
      <td className="titulos-blancos" colSpan="16"><span>Datos del paciente</span></td>
   </tr>
   <tr>
      <td className="datos" colSpan="8">Nombre: {nombrePaciente} {apellidoPaciente}</td>
      <td className="datos" colSpan="4">Género: {genero}</td>
      <td className="datos" colSpan="4">Fecha de nacimiento: {formatoFechaHumano(fechaNac)}</td>
   </tr>
   <tr>
     <td colSpan="16" className="spacer"></td>
   </tr>
   <tr>
      <td className="titulos-blancos" colSpan="16"><span>Datos del médico:</span></td>
   </tr>
   <tr>
      <td className="datos" colSpan="8">Nombre: {nomDoc}</td>
      <td className="datos" colSpan="4">Email: {email}</td>
      <td className="datos" colSpan="4">Teléfono: {telefono}</td>
   </tr>
   <tr>
      <td className="datos" colSpan="5">Cédula: {cedula}</td>
      <td className="datos" colSpan="7">Hospital: Falta Hospital</td>
      <td className="datos" colSpan="4">Ciudad: Falta Ciudad</td>
   </tr>
   <tr>
     <td colSpan="16" className="spacer"></td>
   </tr>
   <tr>
      <td className="titulos-blancos" colSpan="16"><span>Información del estudio</span></td>
   </tr>
   <tr>
      <td className="datos" colSpan="4">Categoría: {categoriaElegida}</td>
      <td className="datos" colSpan="4">Estudio: {estudioElegido[0]}</td>
      <td className="datos" colSpan="3">Metodología: {metodologiaEstudio}</td>
      <td className="datos" colSpan="5">Clave del estudio: {claveEstudio}</td>
   </tr>
   <tr>
     <td colSpan="16" className="spacer"></td>
   </tr>
   <tr>
      <td className="titulos-blancos" colSpan="16"><span>información de la muestra</span></td>
   </tr>
   <tr>
      <td className="datos" colSpan="6">Primario o metastásico: Falta también</td>
      <td className="datos" colSpan="5">Muestra enviada: Falta muestra enviada</td>
      <td className="datos" colSpan="5">Tratamientos previos: Faltan tratamientros previos</td>
   </tr>
   <tr>
      <td className="datos" colSpan="6">Fecha de obtención de la muestra: Falta fecha de muestra</td>
      <td className="datos" colSpan="10">Diagnóstico: Falta Diagnóstico</td>
   </tr>
   {
      costoEstudio > 0 ?
        <>
        <tr>
         <td colSpan="16" className="spacer"></td>
        </tr>
          <tr>
            <td className="titulos-blancos" colSpan="16">Datos de pago</td>
          </tr>
          <tr>
            <td className="datos" colSpan="5">No. de referencia (folio): {folio}</td>
            <td className="datos" colSpan="5">Banco Santander</td>
            <td className="datos" colSpan="6">Cuenta de Banco: Dx A Tiempo SAS de CV</td>
          </tr>
          <tr>
            <td className="datos" colSpan="5">No. Cuenta: 6550 7601 302</td>
            <td className="datos" colSpan="5">CLABE 014180 655076 01302 3</td>
            <td className="datos" colSpan="6">Monto: ${costoEstudio}</td>
          </tr>
        </>
        : null
   }


   {displaySignatures()}
   <tr>
     <td colSpan="16" className="spacer"></td>
   </tr>
   <tr>
      <td className="titulos-blancos" colSpan="16">Contacto</td>
   </tr>
   <tr>
      <td className="textos-centrados" colSpan="16">
        <p>
          Si necesitas ayuda o información adicional a lo aquí presentado comunicate con nosotros enviando un email a: <b>contacto@diagnostiqueatiempo.com</b>
        </p>
      </td>
   </tr>
  </tbody>
</table>
